<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activiti.mapper.JudgementMapper">
    <insert id="commitWork" parameterType="com.activiti.pojo.user.StudentWorkInfo">
        INSERT INTO judge_stu_work_info (COURSE_CODE, EMAIL_ADDRESS, WORK_DETAIL, LAST_COMMIT_TIME)
        VALUES (
            #{courseCode}, #{emailAddress}, #{workDetail}, #{lastCommitTime}
        )
    </insert>

    <update id="updateStuGrade" parameterType="com.activiti.pojo.user.StudentWorkInfo">
        UPDATE judge_stu_work_info
        SET GRADE = #{grade}, JUDGE_TYPE = #{judgeType}
        WHERE EMAIL_ADDRESS = #{emailAddress} AND COURSE_CODE = #{courseCode}
    </update>

    <update id="updateStuJudgeTime" parameterType="com.activiti.pojo.user.StudentWorkInfo">
        UPDATE judge_stu_work_info
        SET JOIN_JUDGE_TIME = #{joinJudgeTime}
        WHERE EMAIL_ADDRESS = #{emailAddress} AND COURSE_CODE = #{courseCode}
    </update>

    <insert id="insertJudgementLs" parameterType="java.util.List">
        INSERT INTO judge_judgement_ls (COURSE_CODE, JUDGER_EMAIL, NON_JUDGER_EMAIL, GRADE, JUDGE_TIME, JUDGEMENT)
        VALUES
        <foreach collection="list" item="judgementLs" index="index" separator=",">
            (
            #{judgementLs.courseCode},
            #{judgementLs.judgeEmail},
            #{judgementLs.nonJudgeEmail},
            #{judgementLs.grade},
            #{judgementLs.judgeTime},
            #{judgementLs.judgement}
            )
        </foreach>
    </insert>

    <select id="selectStudentWorkInfo" parameterType="com.activiti.pojo.user.StudentWorkInfo"
            resultType="com.activiti.pojo.user.StudentWorkInfo">
        SELECT *
        FROM judge_stu_work_info
        WHERE EMAIL_ADDRESS = #{emailAddress} AND COURSE_CODE = #{courseCode}
    </select>

    <select id="selectJudgementLs" parameterType="com.activiti.pojo.user.JudgementLs"
            resultType="com.activiti.pojo.user.JudgementLs">
        SELECT *
        FROM judge_judgement_ls
        WHERE COURSE_CODE = #{courseCode}
        <if test="judgeEmail != null">
            AND JUDGER_EMAIL=#{judgeEmail}
        </if>
        <if test="nonJudgeEmail != null">
            AND NON_JUDGER_EMAIL=#{nonJudgeEmail}
        </if>
    </select>

    <select id="selectCountJudge" parameterType="string" resultType="int">
        SELECT count(*) FROM judge_judgement_ls WHERE JUDGER_EMAIL=#{JUDGER_EMAIL};
    </select>

    <select id="countAllWorks" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(*)
        FROM ${tableName}
    </select>

    <select id="selectChaosId" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT USER_ID
        FROM ${tableName}
        WHERE EMAIL_ADDRESS = #{emailAddress}
    </select>

    <select id="selectStudentWorkInfoChaosById" parameterType="string" resultType="string">
        SELECT EMAIL_ADDRESS FROM ${tableName}
        WHERE USER_ID = #{userId}
    </select>

    <select id="selectAllJudgementByEmail" resultType="com.activiti.pojo.user.JudgementLs">
        SELECT * FROM judge_judgement_ls WHERE JUDGER_EMAIL=#{judgeEmail}
        LIMIT #{offset}, #{limit};
    </select>

</mapper>
