<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activiti.mapper.ToolsMapper">
    <insert id="insertInvokeLog" parameterType="com.activiti.pojo.tools.InvokeLog">
        INSERT INTO judge_invoke_log (UUID, INVOKE_TIME, PARAMS, RESULT, EMAIL, REQUEST_URI, STATUS, TIME)
        VALUES (
            #{uuid},
            #{invokeTime},
            #{params},
            #{result},
            #{email},
            #{requestUri},
            #{status},
            #{time}
        )
    </insert>

    <select id="selectInvokeLog" resultType="com.activiti.pojo.tools.InvokeLog">
        SELECT *
        FROM judge_invoke_log
        ORDER BY TIME DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countInvokeLog" resultType="long">
        SELECT count(*)
        FROM judge_invoke_log;
    </select>

    <select id="countEmailLog" resultType="long">
        SELECT count(*)
        FROM judge_email_log;
    </select>

    <insert id="insertEmailLog" parameterType="com.activiti.pojo.tools.EmailLog">
        INSERT INTO judge_email_log (RECEIVE_ADDRESS, SEND_ADDRESS, SUBJECT, CONTENT, RSC_PATH, RSC_ID, SEND_TIME, STATUS)
        VALUES
            (#{receiveAddress},
             #{sendAddress},
             #{subject},
             #{content},
             #{rscPath},
             #{rscId},
             #{sendTime},
             #{status}
            )
    </insert>

    <select id="selectEmailLog" resultType="com.activiti.pojo.tools.EmailLog">
        SELECT *
        FROM judge_email_log
        ORDER BY SEND_TIME DESC
        LIMIT #{offset}, #{limit}
    </select>
</mapper>
