<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activiti.mapper.VerifyTaskMapper">

    <insert id="insertTask" parameterType="com.activiti.pojo.user.VerifyTask">
        INSERT INTO judge_verify_task (EMAIL, ANSWER, COURSE_CODE, JUDGE_TIMES)
        VALUES (
            #{email},
            #{answer},
            #{courseCode},
            #{judgeTimes}
        )
    </insert>

    <update id="updateTask" parameterType="com.activiti.pojo.user.VerifyTask">
        UPDATE judge_verify_task
        SET GRADE = #{grade}, JUDGER_EMAIL = #{judgerEmail}, STATUS = #{status}
        WHERE EMAIL = #{email} AND COURSE_CODE = #{courseCode}
    </update>

    <select id="selectAllTask" resultType="com.activiti.pojo.user.VerifyTask">
        SELECT *
        FROM judge_verify_task
        WHERE STATUS = #{status}
        ORDER BY JUDGE_TIMES ASC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countAllTask" parameterType="string" resultType="long">
        SELECT count(*)
        FROM judge_verify_task
        WHERE STATUS = #{status}
    </select>

</mapper>