<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
这是美女图片，很漂亮，相当美
<a href="https://image.baidu.com/search/detail?ct=503316480&amp;z=0&amp;ipn=false&amp;word=%E5%85%81%E5%84%BF&amp;hs=2&amp;pn=1&amp;spn=0&amp;di=130669986700&amp;pi=0&amp;rn=1&amp;tn=baiduimagedetail&amp;is=0%2C0&amp;ie=utf-8&amp;oe=utf-8&amp;cl=2&amp;lm=-1&amp;cs=2449615416%2C767894722&amp;os=1857529590%2C1121861477&amp;simid=0%2C0&amp;adpicid=0&amp;lpn=0&amp;ln=30&amp;fr=ala&amp;fm=&amp;sme=&amp;cg=star&amp;bdtype=0&amp;oriquery=%E5%85%81%E5%84%BF&amp;objurl=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fitem%2F201412%2F07%2F20141207141123_5NVjm.thumb.700_0.jpeg&amp;fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3B17tpwg2_z%26e3Bv54AzdH3Fks52AzdH3F%3Ft1%3Ddc0ln09lc&amp;gsm=0" th:text="${name}"></a>
</body>
</html>