<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <import resource="spring-activiti.xml"/>
    <import resource="application-*.xml"/>

    <bean id="Sequence" class="com.activiti.common.sequence.Sequence">
        <constructor-arg name="datacenterId" value="0"/>
        <constructor-arg name="workerId" value="0" />
    </bean>

    <!--Quartz配置-->
    <bean id="SchedulerFactory" class="org.quartz.impl.StdSchedulerFactory"></bean>
    <bean id="QuartzManager" class="com.activiti.common.quartz.QuartzManager">
        <constructor-arg ref="SchedulerFactory"></constructor-arg>
    </bean>

    <!--数据库事务管理-->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="txManager"/>
</beans>