<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activiti.mapper.AdminMapper">

    <select id="countAllGradeByCourseCode" parameterType="string" resultType="long">
        SELECT count(*)
        FROM judge_stu_work_info
        WHERE COURSE_CODE = #{courseCode};
    </select>

    <select id="selectAllWorkInfoByCourseCode" resultType="com.activiti.pojo.user.StudentWorkInfo">
        SELECT *
        FROM judge_stu_work_info
        WHERE COURSE_CODE = #{courseCode}
        ORDER BY LAST_COMMIT_TIME DESC
        LIMIT #{offset}, #{limit};
    </select>

</mapper>